<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.year.dao.ReportDataMapper">

    <select id="getOneByJobNo" parameterType="java.lang.String">
        select * from report_data
        where job_no = #{jobNo} limit 1;
    </select>

</mapper>
